*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content:center;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    
}
.nav a:hover {
    background-color: #777;
}
.tabl {
display: flex;
flex-direction: row;
gap: 20px;
padding: 40px 20px;
background-color: #f5f5f5;
justify-content: center;
}
.feature {
    flex-wrap:wrap;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}